In [1]:
import os
os.chdir(r'G:\Ext_Disk_SharedFolder\Career\Oracle\ADW Challenge - Candidate Pack')
os.getcwd()
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
Calendar = pd.read_excel('PCW15 D Calendar.xlsx',  parse_dates=True)

In [3]:
Calendar.head()

,Day Date,D Nm,Day in Month,Day in Year,Week End,Mth Nm,Mth#,Mth# Nm,Qtr,Year,Per Y Qtr,Per Y Mth#,Fin Mth#,Fin Qtr,Fin Year,Per Fin Qtr,Per Fin Mth#,Fin Mth# Nm
0,2012-01-01,Sun,1,1,W-End,Jan,1,01 Jan,Q1,2012,2012 Q1,2012 01,6,F Q2,F 2012,F 2012 Q2,F 2012 06,06 Jan
1,2012-01-02,Mon,2,2,Wrk-Day,Jan,1,01 Jan,Q1,2012,2012 Q1,2012 01,6,F Q2,F 2012,F 2012 Q2,F 2012 06,06 Jan
2,2012-01-03,Tue,3,3,Wrk-Day,Jan,1,01 Jan,Q1,2012,2012 Q1,2012 01,6,F Q2,F 2012,F 2012 Q2,F 2012 06,06 Jan
3,2012-01-04,Wed,4,4,Wrk-Day,Jan,1,01 Jan,Q1,2012,2012 Q1,2012 01,6,F Q2,F 2012,F 2012 Q2,F 2012 06,06 Jan
4,2012-01-05,Thu,5,5,Wrk-Day,Jan,1,01 Jan,Q1,2012,2012 Q1,2012 01,6,F Q2,F 2012,F 2012 Q2,F 2012 06,06 Jan

In [4]:
Calendar.columns

Index(['Day Date', 'D Nm', 'Day in Month', 'Day in Year', 'Week End', 'Mth Nm',
       'Mth#', 'Mth# Nm', 'Qtr', 'Year', 'Per Y Qtr', 'Per Y Mth#', 'Fin Mth#',
       'Fin Qtr', 'Fin Year', 'Per Fin Qtr', 'Per Fin Mth#', 'Fin Mth# Nm'],
      dtype='object')